#div1{
    text-align: center;}

    h2{
        color: lightgreen;
    }
    body{
        background-color: blue;
    }
    p{
        color: wheat;
    }
    h3{
        color: white;
    }
    h1{
        color: white;
        text-align: center;
    }
    h4{
        color: white;
    }
    anchor{
        color: red;
    }
    #adress{
        text-align: center;
    }
    #links_social{
        background-color: black;
        text-align: center;
    }
